
* {
  box-sizing: border-box;
}

body, html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 12px;

  height: 100%;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

.djs-palette.two-column.open {
  width: 50px;
}

.djs-palette-entries > .group {
  display: grid;
  align-content: center;
}

.bio-properties-panel-group-header-button.bio-properties-panel-select-template-button {
  fill: var(--add-entry-fill-color);
}
.bio-properties-panel-group-header-button.bio-properties-panel-select-template-button:hover {
  fill: #fff;
}

.bio-properties-panel-templates-group .bio-properties-panel-group-header-button{
  fill: var(--add-entry-fill-color);
}

.bio-properties-panel-templates-group .bio-properties-panel-group-header-button:hover {
  fill: #fff;
}